<div class="row">
    <div class="col-md-12">
        <h2>Items</h2>
        <hr />
        <!-- Display the table of items -->
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Item ID</th>
                        <th>Title</th>
                        <th>Item Date</th>
                        <th>Price</th>
                        <th>Category</th>
                        <th>Published</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each items}}
                        <tr>
                            <td>{{id}}</td>
                            <td>{{title}}</td>
                            <td>{{itemDate}}</td>
                            <td>{{price}}</td>
                            <td><a href="/items?category={{category}}">{{category}}</a></td>
                            <td>{{published}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Display error message if no items are found -->
    <div class="col-md-12 text-center">
        {{#unless items}}
            <strong>{{message}}</strong>
        {{/unless}}
    </div>
</div>
